.product-page {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .price {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem 0 3rem 0;
  }
  .coins {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 1.3rem;
    img {
      width: 20px;
    }
  }
  .pay-top {
    font-size: 1.1rem;
    text-align: center;
  }
  .pay-bot {
    display: flex;
    justify-content: center;
    gap: 4px;
    img {
      width: 22px;
    }
    svg {
      width: 22px;
    }
  }
  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    img {
      height: 25px;
      object-fit: contain;
      border-right: 1px solid #333;
      padding-right: 6px;
      &:last-child {
        border: none;
      }
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 12px;
    .list-item {
      background: var(--contentColor);
      border-radius: 12px;
      padding: 12px;
      border: 2px solid transparent;
      cursor: pointer;
      position: relative;
      .recommend {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 18px;
      }
      .top {
        background: rgba($color: #383737, $alpha: 0.3);
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 12px;
        .img-coin {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          
          img {
            width: 26px;
            margin-left: -14px;
          }
          .img:first-child {
            margin-left: 0;
          }
        }
        .score {
          text-align: center;
          width: 100%;
          margin-top: 12px;
          font-size: 1.2rem;
        }
      }
      .bot {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: var(--highColor);
      }
    }
    .selected {
      border: 2px solid var(--highColor);
    }
  }
  .recharge-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btnBg);
    border-radius: 12px;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .question {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
  }
}