.result-page {
  height: 100%;
  padding-top: 3rem;
  .desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 2rem;
    .btn {
      border-radius: 8px;
      padding: 6px 20px;
      background: var(--btnBg);
      color: #000;
    }
    .btn-detail {
      background: var(--highColor);
      color: #fff;
    }
  }
}