.anchor-page {
  height: var(--tg-viewport-height);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .cover {
    height: var(--tg-viewport-height);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    transition: bottom 1s;
    bottom: 0;
    opacity: 0;
    backdrop-filter: blur(10px);
  }
  .video {
    width: 100%;
    height: var(--tg-viewport-height);
    position: fixed;
    width: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .next {
    opacity: 1;
    bottom: var(--tg-viewport-height);
    z-index: 10;
  }
  .top-shadow {
    background: linear-gradient(to bottom,rgb(0,0,0),rgba(0,0,0,0));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 120px;
  }
  .bot-shadow {
    background: linear-gradient(to top,rgb(0,0,0),rgba(0,0,0,0));
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 150px;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Bold';
    gap: 4px;
    text-shadow: -1px -1px 0 #000;
    z-index: 9;
    position: absolute;
    left: 0;
    width: 100%;
    top: 2rem;
    .status {
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background: var(--onLine);
      border: 1px solid #fff;
    }
  }
  .chat-loading {
    backdrop-filter: blur(30px);
  }
  .playing-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--tg-viewport-height);
    padding: 5rem 0;
    width: 100%;
    .coin {
      position: fixed;
      left: 20px;
      top: 20px;
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        width: 18px;
      }
    }
    .anchor-avatar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      img {
        width: 8rem;
        border-radius: 10px;
      }
      .anchor-name {
        margin-top: 1rem;
        font-size: 1.3rem;
        text-shadow: -1px -1px 0 #000;
        font-weight: bold;
      }
      .loading-text {
        margin-top: 10rem;
        color: #f5f5f5;
        text-shadow: -1px -1px 0 #000;
      }
    }
    .end-btn {
      display: flex;
      justify-content: center;
      background: #eee9e9;
      width: fit-content;
      border-radius: 50%;
      margin: 0 auto;
      svg {
        width: 55px;
        height: 55px;
      }
    }
  }
  .main-content {
    position: absolute;
    z-index: 9;
    bottom:0;
    left: 0;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    .right-operation {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 12px;
      .heart {
        cursor: pointer;
        margin-right: 12px;
        text-align: center;
        .count {
          text-shadow: -1px -1px 0 #000;
          font-weight: bold;
        }
      }
    }
    .intro {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 1.8rem;
      font-weight: bold;
      text-shadow: -2px -2px 0 #000;
    }
    .label {
      display: flex;
      gap: 12px;
      .label-item {
        background-color: rgba($color: #000000, $alpha: 0.2);
        padding: 4px;
        border-radius: 6px;
      }
    }
    .detail {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 6px;
      .detail-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .count {
        font-size: 1.8rem;
        font-family: 'Bold';
        text-shadow: -1px -1px 0 #333;
      }
    }
    .join-btn {
      margin-top: 1rem;
      width: 100%;
      background: #fff;
      display: flex;
      align-items: center;
      padding: 9px 30px;
      border-radius: 12px;
      color: #000;
      position: relative;
      gap: 12px;
      cursor: pointer;
      .join {
        position: absolute;
        top: -6px;
        right: -2px;
        border-radius: 8px;
        background: #FF9823;
        color: #fff;
        padding: 4px 8px;
      }
    }
    .chat-btn {
      cursor: pointer;
      margin-top: 1rem;
      width: 100%;
      background: #F22B79;
      display: flex;
      align-items: center;
      padding: 9px 30px;
      border-radius: 12px;
      color: #000;
      position: relative;
      justify-content: space-between;
      .left {
        display: flex;
        gap: 12px;
        align-items: center;
        color: #fff;
      }
      .right {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: var(--onLine);
        animation: light .5s infinite alternate;
      }
      .time {
        width: 40px;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        font-weight: bold;
      }
      @keyframes light {
        0% {
          box-shadow: 0 0 0 currentColor;
          opacity: 0.85;
        }
        100% {
          box-shadow: 0 0 10px currentColor;
          opacity: 1;
        }
      }
    }
   
    .next-btn {
      text-align: center;
      padding: 0.5rem 0;
      cursor: pointer;
    }
  }
}